import { Injectable } from '@angular/core';
import { Actions } from '@ngrx/effects';
import { Action } from '@ngrx/store';

import { <%= classify(name) %>Service } from './<%= dasherize(name) %>.service';

@Injectable()
export class <%= classify(name) %>Effects {
  constructor(
    private actions$: Actions<Action>,
    private service: <%= classify(name) %>Service
  ) {}
}
