import { State as AppState } from '@app/toolbar/toolbar.model';

export interface I<%= classify(name) %>State {
  loading: boolean;
}

export interface State extends AppState {
  '<%= dasherize(name) %>': I<%= classify(name) %>State;
}
