import { AppState } from "@app/core";

export interface I<%= classify(name) %>State {
  loading: boolean;
}

export interface State extends AppState {
  '<%= dasherize(name) %>': I<%= classify(name) %>State;
}
