import { NgModule } from '@angular/core';
import { Routes, RouterModule } from '@angular/router';
import { <%= classify(name) %>MainContainer } from './containers/main';

const routes: Routes = [
  {
    path: '',
    component: <%= classify(name) %>MainContainer,
    data: { title: 'app.<%= dasherize(name) %>.main.title' }
  }
];

@NgModule({
  imports: [RouterModule.forChild(routes)],
  exports: [RouterModule]
})
export class <%= classify(name) %>RoutingModule {}
